#app {
  font-family: "Press Start 2P", cursive;
  width: 1280px;
  height: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .title {
    display: flex;
    box-sizing: border-box;
    font-size: 38px;
    color: #fff;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);

    .square {
      height: 37px;
      width: 37px;
      position: absolute;
      top: -2px;
      background-color: #fff;
    }

    .left {
      left: -48px;
    }

    .right {
      right: -49px;
    }
  }

  .startScreen {
    width: 100%;
    height: 100%;
    position: relative;

    .space {
      cursor: pointer;
      color: #00ffe2;
      font-size: 24px;
      position: absolute;
      top: 57%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
    }
  }

  .gameBox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1280px;
    height: 800px;
    display: flex;
    justify-content: center;
    // align-items: center;
    background-color: #000000;
    position: relative;

    .speed {
      position: absolute;
      top: 25px;
      left: 80px;
      color: #fff;
      font-size: 16px;
      display: flex;
      align-items: flex-end;


      span {
        margin-left: 10px;
        font-size: 36px;
      }
    }

    .score {
      position: absolute;
      top: 30px;
      color: #fff;
      font-size: 16px;
      display: flex;
      align-items: center;
      right: 77px;

      p {
        margin-left: 10px;
        font-size: 36px;
      }
    }

    .bestScore {
      position: absolute;
      bottom: 25px;
      left: 80px;
      color: #fff;
      font-size: 16px;
      display: flex;
      align-items: center;

      p {
        margin-left: 10px;
        font-size: 36px;
      }
    }

    .gamescreen {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 1120px;
      height: 640px;
      background-color: #bbd5ef;
      border: solid 1px #002a9d;
      position: absolute;
      bottom: 80px;
      // margin: 15px;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);

      .box {
        box-sizing: border-box;
        border: solid 1px #002a9d;
        background-color: #00035a;
        width: 40px;
        height: 40px;
      }

      .snakeHeader {
        z-index: 9999;
        background-color: #00ffe2 !important;
        box-shadow: 0 0 30px 6px #fff;
        border: none;
      }

      .snakeBody {
        z-index: 10;
        // background-color: #fff;
        border: solid 1px #002a9d;
      }
    }
  }

  .gameOver {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #000000;
    color: white;

    .title {
      top: 38%;
    }

    .scoreRow {
      width: 420px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 51%;
      transform: translate(-50%, -50%);

      .selfScore,
      .bestScore {
        height: 75px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
      }
    }

    .restart {
      text-align: center;
      font-size: 24px;
      width: 200px;
      height: 40px;
      line-height: 40px;
      color: black;
      background-color: #fff;
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .options {
      color: #00FFE2;
      font-size: 24px;
      position: absolute;
      top: 75%;
      transform: translate(-50%, -50%);
    }

    .yes {
      left: 41%;
    }

    .no {
      right: 32%;
    }
  }
}