<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SNAAAAAAKE</title>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link media="screen" href="http://openfontlibrary.org/face/segoe-ui-symbol" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div id="app">
    <div class="startScreen" v-if='!isPlay && !isOver'>
      <img src="./static/bg-start@2x.png" alt="">
      <div class="title">
        <div class="square left"></div>
        <p>SNAAAAAAKE</p>
        <div class="square right"></div>
      </div>
      <p class="space">PRESS [SPACE] TO START</p>
    </div>
    <div class="gameBox" v-if='isPlay && !isOver'>
      <div class="speed">
        <label for="">speed</label>
        <span v-if='timer == 250' style="font-family: SegoeUISymbolRegular">&#x1F422;</span>
        <span v-if='timer == 200' style="font-family: SegoeUISymbolRegular">&#x1F407;</span>
        <span v-if='timer == 100' style="font-family: SegoeUISymbolRegular">&#x1F697;</span>
        <span v-if='timer == 50' style="font-size: 40px;font-family: SegoeUISymbolRegular">&#x1F680;</span>
      </div>
      <div class="score">
        <label for="">score</label>
        <p v-text='score'></p>
      </div>
      <div class="bestScore">
        <label for="">best</label>
        <p v-text='bestScore'></p>
      </div>
      <div class="gamescreen">
        <div v-for='(item,index) in boxItem' :id=`box_${item.id}` class="box">
          <img v-show='item.isPoint' src="./static/ic-point@2x.png"
            style="width: 100%;height: 100%;transform: scale(2.0);" alt="">
        </div>
      </div>
    </div>
    <div class="gameOver" v-if='!isPlay && isOver'>
      <div class="title">
        <div class="square left"></div>
        <p>GAME OVER</p>
        <div class="square right"></div>
      </div>
      <div class="scoreRow">
        <div class="selfScore">
          <p style="font-size: 16px;">score</p>
          <p v-text='score' style="font-size: 36px;"></p>
        </div>
        <p style="font-size: 36px;">/</p>
        <div class="bestScore">
          <p style="font-size: 16px;">best</p>
          <p v-text='bestScore' style="font-size: 36px;"></p>
        </div>
      </div>
      <div class="restart">RESTART?</div>
      <div class="options yes">YES[Y]</div>
      <div class="options no">NO[N]</div>
    </div>
  </div>
  <script src="./js/vue.js"></script>
  <script src="./js/script.js"></script>
</body>

</html>