<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SNAAAAAAKE</title>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div id="app">
    <div class="startScreen" v-if='!isStart'>
      <img src="./static/bg-start@2x.png" alt="">
      <div class="title">
        <div class="square left"></div>
        <p>SNAAAAAAKE</p>
        <div class="square right"></div>
      </div>
      <p class="space" @click='start'>PRESS [SPACE] TO START</p>
    </div>
    <div class="gameBox" v-if='isStart'>
      <div class="gamescreen">
        <div v-for='(item,index) in boxItem' :id=`box_${item.id}` class="box">
          <img v-show='item.isPoint' src="./static/ic-point@2x.png"
            style="width: 100%;height: 100%;transform: scale(2.0);" alt="">
        </div>
      </div>
    </div>
  </div>
  <script src="./js/vue.js"></script>
  <script src="./js/script.js"></script>
</body>

</html>